<!DOCTYPE html>
<html>

<head>
	<title>PIC METRIC API</title>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
	<header>
		<h1>PicMetric API Doc's</h1>
	</header>
	<section class="endpoint-list">
		<div class="card">
			<div class="card-header">
				<h2>Register a user</h2>
				<h3>GET</h3>
				<h3>ENDPOINT: /api/auth/register/</h3>
			</div>

			<div class="card-body">
				<div class="json-send">
					<h2>Request</h2>
					<pre class="pre">

    		  <span class="key">"username"</span>: <span class="value">"username"</span>,
    		  <span class="key">"password"</span>: <span class="value">"password"</span>
        
			</pre>
				</div>

				<div class="json-receive">
					<h2>Response</h2>
					<pre class="pre">

				<span class="key">"id"</span>: <span class="number">1</span>
				<span class="key">"username"</span>: <span class="value">"username"</span>
				
				</pre>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-header">
				<h2>Login a user</h2>
				<h3>POST</h3>
				<h3>ENDPOINT: /api/auth/login/</h3>
			</div>
			<div class="card-body">
				<div class="json-send">
					<h2>Request</h2>
					<pre class="pre">

        <span class="key">"username"</span>: <span class="value">"username"</span>
        <span class="key">"password"</span>: <span class="value">"password"</span>
    
    </pre>
				</div>
				<div class="json-receive">
					<h2>Response</h2>
					<pre class="pre">

        <span class="key">"id"</span>: <span class="number">1</span>,
        <span class="key">"username"</span>: <span class="value">"username"</span>
    
    </pre>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-header">
				<h2>Logout a user</h2>
				<h3>GET</h3>
				<h3>ENDPOINT: /api/auth/logout/</h3>
			</div>
			<div class="card-body">
				<div class="json-receive">
					<h2>Response</h2>
					<pre class="pre">

        <span class="key">"message"</span>: <span class="value">"Logged out successfully."</span>
    
    </pre>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-header">
				<h2>Get Photos</h2>
				<h3>GET</h3>
				<h3>ENDPOINT: /api/photos/1</h3>
			</div>
			<div class="card-body">
				<div class="json-receive">
					<h2>Response</h2>
					<pre class="pre">

        <span class="key">"photos"</span>: <span class="value">"[ ]"</span>
    
    </pre>
				</div>
			</div>
		</div>
	</section>
</body>

</html>